
<head>
    <title>{{title}}</title>
</head>

<body>
    <div>
        <h1>{{title}}</h1>
        <p>{{message}}
        </p>
        <button style="color: #e84393"><a href="{{url}}">{{buttonText}}</a></button>
    </div>
</body>

</html>